.interpreter-output-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interpreter-output-field__output-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.interpreter-output-field__output-button-wrapper--button {
  font-size: 2rem;
  cursor: pointer;
}

.interpreter-output-field__output-button-wrapper--button:hover {
  text-decoration: underline;
}

.interpreter-output-field__output {
  padding: 2%;
  width: calc(100%);
  height: 500px;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  font-size: 24px;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.interpreter-output-field__output::-webkit-scrollbar {
  width: 14px;
  cursor: pointer;
}

.interpreter-output-field__output::-webkit-scrollbar-thumb {
  background-color: black;
  border: 1px solid white;
}
