.interpreter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interpreter__io {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  column-gap: 10%;
}
