.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-bar__logo {
  font-size: 3.5rem;
}

.nav-bar__items {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
