.page-layout {
  width: 100%;
  padding: 3%;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-layout__header {
  font-size: 3rem;
}

.page-layout__content {
  width: 100%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
